<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workout</title>
</head>
<body>
<ul>
    <li th:each="workout : ${workouts}">
        <span th:text="${workout.name}"></span>
    </li>
</ul>
<form th:action="@{/workout}" method="post">
    <div>
        <label for="name">enter new workout</label>
        <input type="text" id="name" name="name"
               class="form-control" placeholder="enter new workout">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
</body>
</html>